:root {
  --background-color: #fcf7b1;
  --primary-color: #87b2ff;
  --primary-color-v: #7498dc;
  --secondary-color: #fa796f;
  --secondary-color-v: #f84b3f;
  --text-color: #1a1a1a;
  --text-color-grey: #7a7979;
}
