.todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0;
}
.todo-content {
  max-width: 400px;
  flex-grow: 1;
}
.remove-btn {
  padding: 5px;
  background-color: var(--secondary-color);
  border: none;
  box-shadow: 3px 3px 1px var(--secondary-color-v);
  border-radius: 3px;
  transition: 0.2s ease;
}
.remove-btn:hover {
  margin-top: -5px;
  background-color: var(--secondary-color-v);
}
